.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

input {
    font-size: inherit;
    padding: 0.75em 1.5em;
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.input-container {
    margin-bottom: 0.75em;
}

.input-example{
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #3085C3;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.container {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.save-info-btn {
    font-size: 0.9rem;
    background-color: #BB2525;
    border: none;
    color: #FFF5E0;
    text-align: center;
    border-radius: 3px;
    padding: 0.5em 0.5em;
    min-width: 10rem;
}

.section-title{
    margin-bottom: 0;
    padding: 0;
}

.form-section{
    padding-top:3em;
    padding-left: 1em;
    padding-right: 1em;
}

.section-title{
    margin-top: 0;
}

li{
    list-style: none;
    margin-bottom: 2em;
}

ul{
    padding: 0;
}

.section-divider{
    border: 1px solid black;
}

